body
	background-color: #333
.main-header
	background: linear-gradient(#333333, #5A5454)
.personal-profile_avatar img
	border-radius: 5px
	width: 90%
	height: 380px
	object-fit: cover
	margin-top: 10px
	position: relative
	top: 40px
.fab
	color: white